* {
  box-sizing: border-box;
}

h1{
width: 543px; 
height: 20px; 
color: #333333; 
font-family: 'Roboto', sans-serif; 
font-size: 59px; 
text-align: left; 
line-height: 1px; 
padding: 5px; 
}

h2{
  font-family: 'Robot', sans-serif;
}

button, a{ 
width: 162px; 
height: 39px; 
color: #000000; 
font-family: 'Source Sans Pro'; 
font-size: 12px; 
font-weight: normal; 
font-style: normal; 
text-decoration: none; 
text-align: center; 
background: #FFFFFF; 
border: 1px solid #000000; 
border-radius: 2px;
margin-bottom: 10px;
}

button, a, input[type="text"] {
  padding: 5px;
}

select{
  width: 162px; 
  height: 39px; 
  color: #000000; 
  font-family: 'Source Sans Pro'; 
  font-size: 12px; 
  font-weight: normal; 
  font-style: normal; 
  text-decoration: none; 
  text-align: center; 
  background: #FFFFFF; 
  border: 1px solid #000000; 
  border-radius: 2px; 
}

.hidden {
  display: none;
}

#bookmark-list-item {
  width: 250px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.bookmarks {
  list-style: none;
  padding-left: 0;
}

.bookmarks > li {
  background-image: linear-gradient(bottom, white 50%, grey 50%);
  margin-bottom: 20px;
  border: 1px solid grey;
  padding: 20px;
  border-radius: 20px;
}

.bookmark-item{
  display: block;
  color: grey;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 15px;
}

#js-description-input{ 
width: 381px; 
}

.rating{
  display: block
}

label{
  padding:5px;
  color:#222;
  font-family:corbel,sans-serif;
  font-size: 14px;
  margin: 10px;
}

input{
  vertical-align: top;
}

p{
  color: red;
  font-size: 14px;
}

#description{
  font-size: 12px;
  font-family: 'Source Sans Pro';
  margin-bottom: 20px;
  max-width: 150px;
}

#rating{
  margin-top: 10px;
  font-family: 'Source Sans Pro';
}

.stars-container{
  position: relative;
  display: inline-block;
  color: transparent;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.stars-container:efore{
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  color: lightgray;
}

.stars-container:after{
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  color: gray;
  overflow: hidden;
}

.stars-0:after{ 
  width: 0%;
}

.stars-1:after{
  width: 20%;
}

.stars-2:after{
  width: 40%;
}

.stars-3:after{
  width: 60%;
}

.stars-4:after{
  width: 80%;
}

.stars-5:after{
  width: 100%;
}